2.gitignore
/images
.ftpquota
.metadata/
.project
Git-DukesNuz end using 120518/
about.php
ajax/error_log
ajax/includes/config.inc.php
blog/error_log
bookmarklets/error_log
coding-playground/error_log
coding-playground/websites_i_coded.php
css3coffeebreak/
css_libs/
d.png
d/
data/
date_time.php
email_send.html
error_log
extracreditassignmenttwo/
include_2/
jquery_plugins/
js/clock.js
js/storage_not_using.js
js/submit_contact_form.js
js/time.js
js_libs/
nbproject/
nuz.php
portfolio/portfolio.html
sandbox.html
shop.php
styles/main.css
styles/portfolio.css
styles/portfolio_desktop.css
styles/portfolio_mobile.css
t.png
unused files/
/views
weather/index.html
weather/js_weather/object_back.js
weather/js_weather/js_weather.js
400.shtml
401.html
