<section>
       
      <div class="content" >
      	<h1>About</h1>
      	<p>Welcome to my website.  
      		This site is my playground on the  web. 
      		I created almost this entire site without templetes or prepackaged code. Attention was made to make as many pages responsive for you mobile users.
      		I hope I have met your responsive needs no matter what device you are using to view this site.
      		What is responsive web design. Here is an overview at <a href="http://www.w3schools.com/html/html_responsive.asp" target="blank">w3schools</a>.
      	</p>
      	<p>
      		Mt goal is to become knowledgable in a handful of coding languages.
      		I am concentrating my coding skills in the following lanuages:
      		HTML, CSS, PHP, JavaScript, jQuery, MySQL and Filemaker.
      		I figure these are the basic tools needed to create awesome webpages. Well maybe Filemaker
      		is  not needed. I simply enjoy working with filemake. Filemaker has awesome integration
      		features with MySQL.
      		
      		My learning curve has been heavily supplimented by My virtual self study coureses.
      		All my virtual self study courses are listed on the
      		<a href="/self-study-courses/courses-menu/dukesnuz-david-petringa/">Self Study index page</a>.  
      		Most of the  virtual self study courses were 
      		offered at <a href="http://www.meetup.com/bostonphp/" target="blank">Boston PHP</a>. There are a few
      		independant courses I have participated in. Various sites I have found very useful in explaining
      		code techniques are <a href="http://www.w3schools.com/html/html_responsive.asp" target="blank">w3Schools</a>
      		and <a href="http://stackoverflow.com/" target="blank">Stackoverflow</a>.
      	</p>
      	<p>
      		I have a list of all the coding books I have used on my Amazon store
      		which can be viewed on my <a href="/shop<?php echo MODWRITE;?>">store</a> page.
      		There is an assortment of books on HTML, CSS, JavaScript, jQuery, PHP and MySQL
      		I also have a few books on current affairs, strategy and business.
      		<!--I am also selling white corduroy cotton baseball hats.
      		<a href="/shop<?php echo MODWRITE;?>">Buy one !</a>-->
      		
      	</p>
      	
      	 <p>
      	    My <a href="/blog/">blog</a> came out looking really cool. Coded without templates, I believe it has a good
      	    user experience design.  You may be asking if I am using Filemaker to add and edit blog posts. This is a good
      	    question. Yes, I have created a Filmaker solution so I can easily add and edit blog posts in a MySQL database. 
      	    The MySQL database stores each blog post.
      	 </p>
      	 <p>
      	 	My <a href="/coding/playground/coding-menu<?php echo MODWRITE;?>">coding playground</a> has some really awesome stuff.
  
      	 	My <a href="/coding/playground/storing-picture-data-php-mysqli-filemaker<?php echo MODWRITE;?>">picture's</a>
      	 	feed where I use MySQL to store each picture's data(ie: catagory, name, comment, location, and alt info).  The cool part of this script is that
      	 	I am using Filemaker to insert, edit and delete each picture in the MySQL database.  There is even a screen shot of the Filemaker layout 
      	 	I crerated for this process.
      	 	The screen shot can be found in <a href="/coding/playground/storing-picture-data-php-mysqli-filemaker<?php echo MODWRITE;?>">pictures</a>
      	 	under the catagory &quot;Filemaker&quot;.
      	 
      	 	A colorful <a href="/coding/playground/clock-php-javascript<?php echo MODWRITE;?>">clock</a>
      	    created with javascript and PHP is another script I created.  I also have
      	 	a <a href="/coding/playground/flickr-javascript<?php echo MODWRITE;?>">flickr</a> feed with javascript and jQuery(The code
      	 	from this came from one of my coding books which can be found on the flickr page.).
      	 </p>
      	<p>	
      		
      		I also have some "Just Playing Around" pages. Two <a href="http://dukesnuz.com/d/artgallery/gallery_1.php">Art Gallery</a> 
      		pages have some really cool pictures.
      	</p>
      	
		<p>I created a style sheet just for colors used on this website.  This allows me to easily change the color scheme of this site.</p>
		
		<p>
		    On my <a href="<?php echo MODWRITE;?>">home</a> page I have created a Guest Book.  
			Feel free to sign this.  
            This is my 
			<a href="/contact<?php echo MODWRITE;?>">contact</a> page.
			
			You can also use tawk to for chating with me when I am online.  Tawk to also has a free Apple app so you may catch me 
			even when I am not at my desk.
		</p>
       
       <p>
           Using some PHP code, I created scripts that store some <a href="/utilities/site-statistics/dukesnuz/david/petringa/">site statistics.</a>
       </p>
       
       <p>My dive into social media can be found <a href="#footer">here.</a></p>
       
       <p>Enjoy your stay at my site.</p>
       
     
      <aside style="margin-top:15%;">
      		<h3>Sites I Created or Enhanced From Examples in Books</h3>
             <p><a href = "/websites/">Websites</a></p>
      </aside>
       
      
       
       
    <aside style="margin-top:15%;">
       <h3>References and Tools I used in <br /> creating this site</h3>
       <ol>
      	  <li><a href="http://www.larryullman.com/books/" target="blank">Larry Ullman | My Awesome reference for MySQL, PHP and much more</a></li>
       	  <li><a href="http://www.thickbook.com/books-2/sams-teach-yourself-html-css-in-24-hours/" target="blank">Sams Teach Youself HTML and CSS in 24 Hours</a></li>
	  	  <li><a href="https://html5backgroundvideos.com/" target="blank">BG Stock | My home page HTML5 background video</a></li>
      	  <li><a href="http://www.tutorialspoint.com/ajax/ajax_database.htm" target="blank">Tutorials Point | Ajax Database Operations</a></li>
      	  <li><a href="http://red-team-design.com/css3-animated-dropdown-menu/" target="blank">Red Team Design | CSS3 animated drop down menu.</a></li>
       	  <li><a href="https://www.tawk.to/" target="blank">Tawk to | My Chat Program</a></li>
       	  <li><a href="https://www.idrive.com/p=ajax/" target="blank">iDrive | My Backup Place</a></li>
       	  <li><a href="http://www.aptana.com/" target="blank">Aptana | My Text Editor</a></li>
       	  <li><a href="https://shareaholic.com/" target="blank">Shareaholic</a></li>
       	  <li><a href="http://statcounter.com/"><img src="http://www.statcounter.com/images/button2.png" alt="Free Web Stats" width="88" height="31" border="0"></a></li>
          <li><a href="http://david.dukesnuz.com" target="blank">david.dukesnuz.com</a> is hosted on <a href="https://m.do.co/c/3ec7cdf44173" target="blank">Digital Ocean</a></li>
          <li><a href="https://atom.io/" target="blank">Atom my new text editor.</a></li>
          <li><a href="https://code.visualstudio.com/" target="blank">VS Code my other new text editor.</a></li>
       </ol>
   </aside> 
   <!--
<a data-pin-do="embedUser" href="https://www.pinterest.com/dukesnuz/"data-pin-scale-width="80" data-pin-scale-height="200" data-pin-board-width="400">    Visit David's profile on Pinterest.</a><!-- Please call pinit.js only once per page -->
<!--<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>    
-->
  </aside>

      </div>
  </section>
    