<section>
       
      <div class="content" >
      	<h1>About</h1>
      	<p>Welcome to my website.  
      		This site is my playgrownd on the  web. 
      		I created this site myself. I also made a lot of the pages responsive for you mobile users.
      		
      		I am concentrating on enhancing my
      		skills in HTML, CSS, Javascript, jQuery, mySQLl and Filemaker.
      		 I have self taught my self the former coding languages. 
      		
      		All my virtual self study courses are listed in the menu.  My virtual self study courses were 
      		offered at <a href="http://www.meetup.com/bostonphp/" target="blank">Boston PHP</a>.
      		
      	</p>
      	<p>
      		I have a list of all the coding books I have used on my Amazon store
      		which can be viewed on my <a href="/shop<?php echo MODWRITE;?>">store</a> page.
      		There is an assortment of books on HTML, CSS, Javascript, jQuery, PHP and mySQl.
      		I also have a few books on current affairs, strategy and business.
      		I am also selling white corduroy cotton baseball hats.
      		<a href="/shop<?php echo MODWRITE;?>">Buy one !</a>  
      		
      	</p>
      	
      	 <p>
      	 	My new coding playground has a really awesome <a href="/coding/playground/clock<?php echo MODWRITE;?>">clock</a>
      	 	 created with javascript and PHP.  I also created
      	 	a <a href="/coding/playground/flickr<?php echo MODWRITE;?>">flickr</a> feed with javascript and jQuery.
      	 	
      	 	
      	 	
      	 </p>
      	<p>	
      		
      		I also have some "Just Playing Around" pages. Two <a href="http://dukesnuz.com/d/artgallery/gallery_1.php">Art Gallery </a> 
      		pages have some really cool pictures.-I know the pictures are
      		loading very slow.
      	</p>
      	
		<p>I created a style sheet just for colors only.  I can easily change the color scheme of this site. On my <a href="<?php echo MODWRITE;?>">home</a> page I have created a Guest Book.  
			Feel free to sign this.  
             This is my 
			<a href="/contact<?php echo MODWRITE;?>">contact</a> page.
			
			You can also use tawk to for chating with me when I am online.  Tawk to also has a free Apple app so you may catch me 
			even when I am not at my desk.
		</p>
       
       <p>My dive into social media can be found <a href="#footer">here.</a></p>
       
       <p>Enjoy your stay at my site.</p>
       
     
      <aside style="margin-top:15%;">
      		<h3>Sites I Created</h3>
       <ol>
      	  <li><a href="http://www.ajaxtransport.com" target="blank">Ajax Brokerage</a></li>
       	  <li><a href="http://www.ajaxforums.com" target="blank">Ajax Forums</a></li>
       	  <li><a href="http://www.ajaxmarket.com" target="blank">Ajax Market</a></li>
       	  <li><a href="http://www.thecentraldispatch.com" target="blank">The Central Dispatch</a></li>
       	  <li><a href="http://www.scrapinventory.net" target="blank">Scrapinventory</a></li>
       	  <li><a href="http://www.dukesnuz.com" target="blank">Dukesnuz</a></li>
      </aside>
       
      
       
       
    <aside style="margin-top:15%;">
       <h3>References I used in <br /> creating this site</h3>
       <ol>
      	  <li><a href="http://www.larryullman.com/books/" target="blank">Larry Ullman | My Awesome reference for mySQl and PHP and more</a></li>
       	  <li><a href="http://www.thickbook.com/books-2/sams-teach-yourself-html-css-in-24-hours/" target="blank">Sams Teach Youself HTML and CSS in 24 Hours</a></li>
	  	  <li><a href="https://html5backgroundvideos.com/" target="blank">BG Stock | My home page HTML5 background video</a></li>
      	  <li><a href="http://www.tutorialspoint.com/ajax/ajax_database.htm" target="blank">Tutorials Point | Ajax Database Operations</a></li>
      	  <li><a href="http://red-team-design.com/css3-animated-dropdown-menu/" target="blank">Red Team Design | CSS3 animated drop down menu.</a></li>
       	  <li><a href="https://www.tawk.to/" target="blank">Tawk to | My Chat Program</a></li>
       	  <li><a href="https://www.idrive.com/p=ajax/" target="blank">iDrive | My Backup Place</a></li>
       	  <li><a href="http://www.aptana.com/" target="blank">Aptana | My Text Editor</a></li>
      	 
       </ol>
   </aside> 
   
 
      </div>
  </section>
    