<style>
	 dt{
	 	background-color:rgba(139,128,128,.1);
	 	
	 	font-weight: bold;
	 	font-size: 1.25em;
	 	border: 1px solid black;
	 	border-bottom: none;
	 	width:100%;
	 }
	dd{
		background-color:#ffffff;
		margin-top: 5px;
		margin-bottom: 50px;
		margin-left:10%;
		padding: 2px;
		display: block;
		width:80%;
		font-size: .85em;
		border: 1px solid black;
	 	border-top: none;
	}
	.content header, aside{
		background-color: #ffffff;
		border-radius: 0 50%;
		padding:5%;
	}
	.content h1, .content h2, .content p{
		text-align: center;
	}
	
	aside{
		margin-top:30%;
		text-align: center;
	}
	aside a{
		
		font-size: 2em;
		font-weight: bold;
		border-radius:90%;
		padding: 10%;
	}
</style>
<section>
       
      <div class="content" >
      	<header>
      	     <h1>Coding Playground</h1>
      	     <h2>Index</h2>
      	</header>
      	<p>
      		This ia index of pages I created myself. Some pages I started with an idea from a book or webpage which I then built upon. 
      		I have assigned credit to the book or website I used as a reference.
       </p>
      		
      	<p>If you would like to purchase the book please click the link on the page. 
      		You can also visit my 
      		<a href="/shop<?php echo MODWRITE;?>">store</a>
      		page for other books I like. If you click a book link on my site and purchase the book
      		I will recieve a small commission. 
      	</p>
        
        
     <dl>
     	  <dt><a href="/coding/playground/storing-picture-data-php-mysqli-filemaker<?php echo MODWRITE;?>" target="blank">My Pictures</a></dt>
      	  	<dd>This script retrieves the picture data from a MySQL database. I am also using Filemaker to input and edit the data.</dd>
      	  	
      	  	
      	  	
      	  <dt><a href="/coding/playground/flickr-javascript<?php echo MODWRITE;?>" target="blank">flickr</a></dt>
      	  	<dd>Using Javascript to access flickr feeds</dd>
      	  	
      	  <dt><a href="/coding/playground/clock-php-javascript<?php echo MODWRITE;?>" target="blank">Clock</a></dt>
      	  	<dd>Using Javascript and PHP to create a clock, day and date</dd>
      	  
      	  <dt><a href="/coding/playground/css3/radial/gradient/transform/scale/rotate<?php echo MODWRITE;?>" target="blank">CSS Radial Gradient & Transforms</a></dt>
      	  	<dd>Experimenting with CSS3 Radial Gradient & Transforms</dd>
      	  	
      	  <dt><a href="/coding/playground/storing/sessions/in/a/database/php/mysqli<?php echo MODWRITE;?>" target="blank">Storing Sessions in a Database</a></dt>
      	  	<dd>Storing sessions in a MySQL Database</dd>
      	  	 
      	  	 
      	  <dt><a href="<?php echo URL;?>/d/playingaround/css-animation-linear-gradient.html" target="blank">CSS Animation Linear Gradient</a></dt>
		   <dd>CSS Linear and Radial Gradient and Animation Rotate</dd>
		   		 	
		 <dt><a href="<?php echo URL;?>/d/playingaround/css-animation-rotate-linear-gradient.html" target="blank">CSS Animation Rotate Linear Gradient</a></dt>
	       	 <dd>CSS Linear Gradient and Animation Rotate</dd>
	       
	     <dt><a href="<?php echo URL;?>/d/playingaround/css-animation-timing-rotate.html" target="blank">CSS Animation Timing Rotate</a></dt>
	       	 <dd>CSS Animation Timing Rotate</dd>					
	     
	     <dt><a href="<?php echo URL;?>/d/playingaround/css-linear-gradient.html" target="blank">CSS Linear Gradient</a></dt>
	       	 <dd>CSS Linear Gradient</dd>
	       	 		
	     <dt><a href="<?php echo URL;?>/d/playingaround/css-linear-gradient-colors.html" target="blank">CSS Linear Gradient Colors</a></dt>
	       	 <dd>CSS Linear Gradient Colors<</dd>
	     
	     <dt><a href="<?php echo URL;?>/d/playingaround/css-linear-radial-gradient.html" target="blank">CSS Linear Radial Gradient</a></dt>
		   	 <dd>CSS Linear Radial Gradient</dd>				
		   	 
		  <dt><a href="<?php echo URL;?>/d/playingaround/css-repeating-linear-gradient.html" target="blank">CSS Repeating Linear Gradient</a></dt>
		   	  <dd>CSS Repeating Linear Gradient</dd>				
		   						
		   <dt><a href="http://www.ajaxforums.com/utilities/search_city_state_zip.php" target="blank">jQuery Autocomplete</a></dt>
		   	   <dd>jQuery Autocomplete</dd>				
		   	 
		   <dt><a href="http://www.ajaxforums.com/utilities/search_zip_codes.php" target="blank">Javascript &amp; AJAX to Retrieve Data From a Databse</a></dt>
			  	 <dd>Javascript &amp; AJAX to Retrieve Data From a Databse</dd>				
			  	 
		   <dt><a href="<?php echo URL;?>/d/phppercolate6/filemaker_mysqli.html" target="blank">Filemaker Executing MySql Scripts.</a></dt>
			  	 <dd>Filemaker Executing MySql Scripts.</dd>				
			 				
			  						
     	</dl>


       
    <aside>
       <a href="/shop<?php echo MODWRITE;?>">Check out my store</a>
   </aside> 
   
 
      </div>
  </section>
    