

<div style="text-align: center; border: 1px solid #000; margin: 30px; padding: 10px;">
<h1 style="color:#000">DigitalOcean simplifies cloud computing so developers and businesses can spend more time building software that changes the world</h1>
<h3>Use the link below to create an account.</h3>
<small>Advertisement</small>
<br />

<p>
<a href="https://www.digitalocean.com/?refcode=3ec7cdf44173&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
</p>
</div>
