
<!--/******************This also uses pages flickr.inc.html, flickr.php, flickr.js********/-->

<style>	

</style>
<section>
       

<div class= "flickr_content">

      	<h1>Duke's flickr Pictures &amp; Favorites</h1>
<!--start coding Used exampl e16.5 in book Sams jquery and javascript in 24 hours-->


<div id="feedName">Select Feed</div>


<div>
	<div id="leftNav">
		<!--flickr idGettr http://idgettr.com/-->
		<p onclick="setImages('photos_public',  '135444216@N08')">Duke's Photos</p>

		<p onclick="setImages('photos_public',  '34168865@N08')">Hubble</p>
		<!--
        <p onclick="setImages('groups_pool', '650323@N24')">National Geographic</p>
      
        <p onclick="setImages('photos_public',  '44912907@N05')">Sunsword</p>
	-->
	</div>
	
	<div id="images"></div>
</div>


</div>


<aside class="flickr_aside">
	<p>This page displays my current amazing pictures on flickr. I also have a few selections I really think are cool.</p>
	<p>This web page was created using hour 16.5 in <a href="http://amzn.to/1GUGYyq">
		 Sams Teach Yourself jQuery and Javascript in 24 Hours
	</a> by Brad Daley</p>
	
	<p>Orignally coded in 
		<a href="http://dukesnuz.com/d/jqueryjam4/hour16/hour16_05.html">jQuery jAM Season 4.</a> jQuery jAM is
		a virtual self study meet up at <a href="http://www.meetup.com/bostonphp/">Boston PHP.</a>  jQuery jAM
		is a fantastic place to learn how to code in Javascript and jQuery.</p>
</aside>

  </section>





<script type="text/javascript" src="/js/flickr.js"></script>

