<?php
//check if config file exists
if(file_exists("./includes/config.inc.php"))
{
require('./includes/config.inc.php');
$folder_level = FOLDER_LEVEL_1;
}elseif(file_exists("../includes/config.inc.php"))
{
require('../includes/config.inc.php');
$folder_level = FOLDER_LEVEL_2;
}else{
$body = "Page:header.inc.html\rline10-config.inc.php file not found\rEND email";
mail("hello@dukesnuz.com","ERROR DukesNuz",$body,"hello@dukesnuz.com");
die("OOppss! System error. We apologize for in inconvenience. Error has been reported to Dukesnez");
}
?>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

<meta name="p:domain_verify" content="41d0a382688e84c6a684d506f6f139e9"/>


	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
	<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

	<title>
		<?php
			if(isset($title))
			{
			echo "DukesNuz | $title | David Petringa";
			}else{
			echo 'David Petringa | DukesNuz';
			}
			?>
	</title>

	<meta name="description" content="My Playground on the web. This is where I learn to code using HTML, CSS, Javascript, jQuery, PHP, Laravel, VueJs, MySQl and Filemaker. I also have a blog about website development and computer technology.">
	<meta name="keywords" content="website development, computer technology">
	<meta name="author" content="David Petringa">

	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta name="p:domain_verify" content="41d0a382688e84c6a684d506f6f139e9" />
	<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel='stylesheet' href="<?php echo $folder_level; ?>styles/nav.css">

	<link rel="stylesheet" media="all" href="<?php echo $folder_level; ?>styles/styles.css" type="text/css" />

	<link rel="shortcut icon" type="image/x-icon" href="<?php echo URL;?>/d/images/favicon.ico">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script src="<?php echo $folder_level; ?>js/_js.js"></script>

	<script src="<?php echo $folder_level; ?>js/video_js.js"></script>
	<!--used for video on home page -->

	<!--https://www.shareaholic.com/-->
	<script type='text/javascript' src='//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js' data-shr-siteid='400967ed75f7182470f02715e3848d72' data-cfasync='false' async='async'></script>
	<!--google adsense-->
	<script data-ad-client="ca-pub-5281604601696923" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>

	<article>
		<section>
			<header>

				<nav>
					<!--Tutorial for menu
						http://red-team-design.com/css3-animated-dropdown-menu/
						-->
					<div id="menu-wrap">
						<ul id="menu">
							<!--<li><a href="./index.php">HOME</a></li>-->
							<li>
								<a href="<?php echo MODWRITE;?>">HOME</a>
							</li>
							<!--<li><a href="./about.php">ABOUT</a></li>-->
							<li>
								<a href="/about<?php echo MODWRITE;?>">ABOUT</a>
							</li>
							<li>
								<a href="/shop<?php echo MODWRITE;?>">STORE</a>
							</li>
							<!--<li><a href="./contact.php">CONTACT</a></li>-->
							<li>
								<a href="/blog/">BLOG</a>
							</li>
							<li>
								<a href="/contact<?php echo MODWRITE;?>">CONTACT</a>
							</li>

							<li>
								<a href="#">Games Excurion</a>
								<ul>
									<li>
										<a href="/games/">Games</a>
									</li>
								</ul>
							</li>

							<li>
								<a href="#">Just Playing Around | Coding Playground</a>
								<ul>
									<li>
										<a href="/coding/playground/coding-menu<?php echo MODWRITE;?>">Playground Menu</a>
									</li>
									<!--
										<li><a href="/coding/playground/flickr<?php echo MODWRITE;?>">flickr</a></li>
										<li><a href="/coding/playground/clock<?php echo MODWRITE;?>">Clock</a></li>
										<li><a href="/coding/playground/css3/radial/gradient/transform/scale/rotate<?php echo MODWRITE;?>">CSS Radial Gradient & Transforms</a></li>
										<li><a href="/coding/playground/storing/sessions/in/a/database/php/mysqli<?php echo MODWRITE;?>">Storing Sessions in a Database</a></li>
										-->
								</ul>
							</li>

							<li>
								<a href="#">Coding Courses | Learning to Code</a>
								<ul>
									<li>
										<a href="/self-study-courses/courses-menu<?php echo MODWRITE2;?>">Courses Menu</a>
									</li>
									<!--
										<li><a href="<?php echo URL;?>/d/html5_brunch_5/index.html" target="blank">HTML 5 Brunch 5</a></li>
										<li><a href="<?php echo URL;?>/d/200_days_of_code/index.php" target="blank">200 Days of Code</a></li>
										<li><a href="<?php echo URL;?>/d/html5_brunch_4/index.html" target="blank">HTML 5 Brunch 4</a></li>
										<li><a href="<?php echo URL;?>/d/phppercolate_7/index.html" target="blank">PHP Percolate 7</a></li>
										<li><a href="<?php echo URL;?>/d/HTML5_Brunch_3/index.html" target="blank">HTML5 Brunch 3</a></li>
										<li><a href="<?php echo URL;?>/d/jqueryjam4/index.php" target="blank">jQuery jAM 4</a></li>
										<li><a href="<?php echo URL;?>/d/phppercolate6/home.php" target="blank">PHP Percolate 6</a></li>
										<li><a href="<?php echo URL;?>/d/html_5_brunch/home.php" target="blank">HTML 5 Brunch 2</a></li>
										<li><a href="<?php echo URL;?>/d/jqueryjam3/index.php" target="blank">jQuery jAM 3</a></li>
										-->
								</ul>
							</li>

							<li>
								<a href="#">Art Galleries | I coded these</a>
								<ul>
									<li>
										<a href="<?php echo URL;?>/d/artgallery/gallery_1.php" target="blank">Art Gallery One</a>
									</li>
									<li>
										<a href="<?php echo URL;?>/d/artgallery/gallery_2.php" target="blank">Art Gallery Two</a>
									</li>
									<li>
										<a href="/coding/playground/storing-picture-data-php-mysqli-filemaker<?php echo MODWRITE;?>" target="blank">My Pictures</a>
									</li>
								</ul>
							</li>

							<li>
								<a href="#">My Portfolio | ALL Original | NO Templates</a>
								<ul>
									<li>
										<a href="<?php echo URL;?>/websites/" target="blank">Portfolio</a>
									</li>
								</ul>
							</li>

							<li>
								<a href="#">Wesites I coded | Some original | Some book templates</a>
								<ul>
									<li>
										<a href="<?php echo URL;?>/websites/david/petringa/coded/">Websites</a>
									</li>
								</ul>
							</li>

							<!--<li><a href="#">Just Playing Around | My own creations</a>
								<ul>
								<li><a href="http://dukesnuz.com/d/playingaround/css-animation-linear-gradient.html" target="blank">CSS Animation Linear Gradient</a></li>
								<li><a href="http://dukesnuz.com/d/playingaround/css-animation-rotate-linear-gradient.html" target="blank">CSS Animation Rotate Linear Gradient</a></li>
								<li><a href="http://dukesnuz.com/d/playingaround/css-animation-timing-rotate.html" target="blank">CSS Animation Timing Rotate</a></li>
								<li><a href="http://dukesnuz.com/d/playingaround/css-linear-gradient.html" target="blank">CSS Linear Gradient</a></li>
								<li><a href="http://dukesnuz.com/d/playingaround/css-linear-gradient-colors.html" target="blank">CSS Linear Gradient Colors</a></li>
								<li><a href="http://dukesnuz.com/d/playingaround/css-linear-radial-gradient.html" target="blank">CSS Linear Radial Gradient</a></li>
								<li><a href="http://dukesnuz.com/d/playingaround/css-repeating-linear-gradient.html" target="blank">CSS Repeating Linear Gradient</a></li>

								<li><a href="http://www.ajaxforums.com/utilities/search_city_state_zip.php" target="blank">jQuery Autocomplete</a></li>
								<li><a href="http://www.ajaxforums.com/utilities/search_zip_codes.php" target="blank">Javascript &amp; AJAX to Retrieve Data From a Databse</a></li>
								<li><a href="./d/home.php" target="blank">Filemaker Executing MySql Scripts.</a></li>
								</ul>
								</li>-->

							<li>
								<a href="#">Want Your Local Weather | Weather App Can Help</a>
								<ul>
									<li>
										<a href="<?php echo URL;?>/weather/get-current-weather-webcams" target="blank">Weather App</a>
									</li>
								</ul>

							<li>
								<a href="#">Just Playing Around | My own creations</a>
								<ul>
									<li>
										<a href="<?php echo URL;?>/d/home.php" target="blank">My Old home Page.</a>
									</li>
								</ul>

							</li>

						</ul>

					</div>
					<!--end menu wrap-->

				</nav>

				<div id="title">
					<h1><a href="/dukesnuz/david/petringa/">DukesNuz</a></h1>
					<ul>
						<!--<li><a href="./index.php">HOME</a></li>-->
						<li>
							<a href="<?php echo MODWRITE;?>">HOME</a>
						</li>
						<!--<li><a href="./about.php">ABOUT</a></li>-->
						<li>
							<a href="/about<?php echo MODWRITE;?>">ABOUT</a>
						</li>
						<li>
							<a href="/shop<?php echo MODWRITE;?>">STORE</a>
						</li>
						<!--<li><a href="./contact.php">CONTACT</a></li>-->
						<li>
							<a href="/blog/">BLOG</a>
						</li>
						<li>
							<a href="/contact<?php echo MODWRITE;?>">CONTACT</a>
						</li>
					</ul>
				</div>

			</header>
