
		<!-- Start video hero -->
<div class="video-hero">
	<div class="video-bg demo-video">
		<video autoplay muted loop poster="images/busy-new-york-intersection.jpg">
			<source src="/video/busy-new-york-intersection.mp4" type="video/mp4">
			<source src="/video/busy-new-york-intersection.webm" type="video/webm">
			<source src="/video/busy-new-york-intersection.ogv" type="video/ogg">
		</video>
	</div>
	<div class="video-overlay"></div>
	<div class="page-width">
		<div class="video-hero--content">
			<h1>DukesNuz</h1>
			<h2>My playground on the web.</h2>
		</div>
	</div>
</div>

	</section>


        <section>
        		<header id="header_2">
        		<h3 style="text-align: center">Coding Hobbyist | Always in Construction</h3>
        		</header>
        		
    <div class="left_side">
    	<div style="margin-left:5%;margin-bottom:5%;">
           <!--Start quote of the day-->
           
            <!--JavaScript code for single Quote of the Day, http://www.tqpage.com/-->
           <p>
           <script language="javascript" src="http://www.quotationspage.com/data/1qotd.js"></script> 
           <!--http://www.quotationspage.com/useourquotes.php-->
          </p>
           <!--End JavaScript Quotations code-->
           
           
          <p>
           <script type="text/javascript" src="http://www.brainyquote.com/link/quotebr.js"></script>
           <small><i><a href="http://www.brainyquote.com/quotes_of_the_day.html" target="_blank">more Quotes</a></i></small>
          </P>
 
          <!--END Quote of the day-->
         </div>
			 <!--autofocus
    		/contact/dukesnuz/david/petringa/
    		index.php
    		-->
     <!----Start random picture--------->
    		           <h3 style="margin-left:5%">A Random Picture</h3>
       <?php
           if(mysqli_num_rows($rp) >0)
           			$row_pic = mysqli_fetch_array($rp, MYSQLI_ASSOC);
           		     	if($row_pic['gallery_select'] ==="GalleryTwo")
							{
				    			 echo '<div style="text-align:center">
				    			 	<a href="/coding/playground/storing-picture-data-php-mysqli-filemaker'.MODWRITE.'" title="'.$row_pic['picture_name'].' | View More Pictures"><img src="'.$row_pic['img_url'].'" alt="'.$row_pic['alt'].'" style="width:228px;height:300px;"></a></div>';
							}else{
							 	 echo '<div style="text-align:center">
							 	 	<a href="/coding/playground/storing-picture-data-php-mysqli-filemaker'.MODWRITE.'" title="'.$row_pic['picture_name'].' | View More Pictures"><img src="'.$row_pic['img_url'].'" alt="'.$row_pic['alt'].'" style="width:300px;height:228px;"></a></div>';
							}
        ?>
        
        <!-----------------END random picture------------------------>
         	<h3 style="margin-left:5%">Sign My Guest Book</h3>
    	
    	<div id="gb_error" style="color:red;font-weight: bold"></div>
    	
     
    	<form name="guest_book" method="post" action="/dukesnuz/david/petringa/" id="guest_book">
    		<fieldset>
    			<legend>Your Name and Email Address</legend>
    			<p><label class="question" for="first_name">What is your last name?</label>
    				<input type="text" id="first_name" name="first_name" placeholder="Enter your first name." size="50" value="" required  />
    			</p>
    			<p><label class="question" for="last_name">What is your first name?</label>
    				<input type="text" id="last_name" name="last_name" placeholder="Enter your last name." size="50" value="" required />
    			</p>
    			
    			<p><label class="question" for="email">What is your email address?</label>
    				<input type="email" id="email" name="email" placeholder="Your email address." size="50" value="" required />
    			</p>
    		</fieldset>
    		
    			<fieldset>
    				<legend>Leave an amazing comment</legend>
    				<p><label class="question" for="message">Your valued Comment</label>
    					<textarea id="message" name="message" rows="7" cols="50" placeholder="Leave an amazing comment." required></textarea>
    				</p>
    			</fieldset>
    		
    		<div id="buttons">
    			<input type="submit" value="Submit" id="submit" /> or
    			<input type="reset" value="Erase and start over" />
    		</div>
    		
    	</form>
    	
    	 	<h3 style="margin-top:10%;margin-left:5%">Amazing Comments</h3>
     
     	     <div id='ajaxDiv'>Amazing Comments at DukesNuz</div>
    </div>
    
    <div class="right_side">
             <!--add twitter timeline-->
                  <a class="twitter-timeline"  href="https://twitter.com/Dukesnuz" data-widget-id="655881430338174976">Tweets by @Dukesnuz</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        
        
        
          <h3 style="margin-top:20px;">Recent Blog Posts</h3>  
         <?php
              if(mysqli_num_rows($b) >0)
							{
						       echo "<ul style='list-style: none;'>";
							                 while($row = mysqli_fetch_array($b, MYSQLI_ASSOC))
							                       {
							                      	echo  "<li><a href='/blog/'>".$row['title']."&nbsp;&nbsp;Read More&nbsp;&#10144;</a></li>";
							                       }
							   echo '</ul>';				   
							}							
         ?>
         
         
         
        
        <h3 style="margin-top:20px;">Five Most Viewed Pages</h3>  
        <?php
              if(mysqli_num_rows($r) >0)
							{
						       echo "<ul style='list-style: none;'>";
							                 while($row = mysqli_fetch_array($r, MYSQLI_ASSOC))
							                       {
							                      	echo  "<li><a href=".$row['url_complete'].">".$row['page_title']."</a></li>";
							                       }
							   echo '</ul>';				   
							}							
         ?>
       
        
    </div>
    

    </section>
    

	