<section>
       
      <div class= "content_wide">
      	<header>
      		<h1>My Store</h1>
      	</header>
      	

      	<p style="width:800px">In my Amazon store I have selected books that I really like to learn to code in HTML, CSS, Javascript, jQuery, PHP, mySQL 
      		and Filemaker.<br />
   		Under strategy are some really awesome books on strategy.</p>
    <!--
    	original code from amazon
      <iframe src="http://astore.amazon.com/dukesnuz-20" width="90%" height="4000" frameborder="0" scrolling="no"></iframe>
   -->
      
  
      <iframe src="http://astore.amazon.com/dukesnuz-20" width="800px" height="1200" frameborder="0" scrolling="no"></iframe>
     
      
   
   
    <aside style="float:right">
    <p style="text-align: center;width:300px">
    Baseball Caps I am selling
      
 
    <a href="http://www.ajaxmarket.com/browse/hats/Baseball+Caps/4" target="blank">
      <img src="/d/images/baseball_hats_cordoroy.jpg" height="200" width="300" alt="White corduroy baseball cap hat">
     </a>
     Buy One !
   </p>
  
     <p style="text-align: center;width:300px;background-color:#140808">
		Bronze treble hooks aize 10.  144 sturdy sharp hooks On Sale!
			  
      <img src="/d/images/treble_hook_10.jpg" height="200" width="300" alt="Bronze Treble Fish Hooks Size 10">
     
     <br>
       Only $11.33 for 144 super hooks.
     
     </p>  
<div style="padding:2px;margin-left:50px">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="NLAD6MY6LRQS4">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>  

 

   <p style="text-align: center;width:300px;background-color: #8B8080">
		On Sale! Use this item to take out fish hooks. Made of sturdy metal.
		  
      <img src="/d/images/fish_hook_remver.jpg" height="200 width="300" alt="Sturdy Metal Fish Hook Remover">
    
     <br>
       Only $8.00 for 1 sturdy metal fish hook remover.
     
     </p>  
<div style="padding:2px;margin-left:50px">
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8HMMZFF3Z4HTY">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>  
  
   
  <div style="background-color:#140808;padding:10px;margin-top:50px">
    <p style="text-align: center;width:300px">
    <a target='new' href="http://click.linksynergy.com/link?id=IQDr5OHZ5T0&offerid=145238.2084946&type=2&murl=http%3A%2F%2Fwww.informit.com%2Ftitle%2F9780672337048"><IMG border=0 src="http://www.informit.com/ShowCover.aspx?isbn=9780672337048&type=d" ></a><IMG border=0 width=1 height=1 src="http://ad.linksynergy.com/fs-bin/show?id=IQDr5OHZ5T0&bids=145238.2084946&type=2&subid=0" >
    </p>
 </div>

 
 
 
     	
      	
      <!--ebay link-->
       <div style="background-color:#140808;padding:10px;margin-top:50px;color:#ffffff">
       	 <p style="text-align: center;width:300px">
          I am selling cool stuff on <a href="http://tinyurl.com/ptq232e" target="blank"><span style="color:yellow;font-size: 3em;font-style: bold">ebay</span></a>
        <br/> Good quality fising tackle.</p>
     </div>
      <!--END ebay link-->
      
 
 
 
 
 
 
 
   </aside>
  </div>       
  </section>
    