<section>
       
      <div class= "content_wide">
      	<header>
      		<h1>My Store</h1>
      	</header>
      	
      	<p style="width:800px">In my Amazon store I have selected books that I really like to learn to code in HTML, CSS, Javascript, jQuery, PHP, mySQL 
      		and Filemaker.<br />
   		Under strategy are some really awesome books on strategy.</p>
    <!--
    	original code from amazon
      <iframe src="http://astore.amazon.com/dukesnuz-20" width="90%" height="4000" frameborder="0" scrolling="no"></iframe>
   -->



      <iframe src="http://astore.amazon.com/dukesnuz-20" width="800px" height="1200" frameborder="0" scrolling="no"></iframe>
   
    <aside style="float:right">
    <p style="text-align: center;width:300px">
    Baseball Caps I am selling
      
 
    <a href="http://www.ajaxmarket.com/browse/hats/Baseball+Caps/4" target="blank">
      <img src="/d/images/baseball_hats_cordoroy.jpg" height="200 width="300" alt="White corduroy baseball cap hat">
     </a>
     Buy One !
   </p>
    
    
 
 
   </aside>
  </div>       
  </section>
    