<section class="content_wide">
  <header>
    <h1 style="padding-bottom:0%">Stuff I sell on ebay</h1>
  </header>

  <div style="margin-left:10%; float:left;width:70%">

    <script type="text/javascript" src="//www.auctionnudge.com/feed/item/js/theme/responsive/page/init/img_size/120/cats_output/dropdown/search_box/1/show_logo/1/lang/english/SellerID/ajaxmarket/siteid/0/MaxEntries/6"></script>
    <div id="auction-nudge-items" class="auction-nudge"></div>

  </div>


  <aside style="float:right">

    <form action="http://www.alibris.com/search/search.cfm" method="get" name="form" id="form"><input type=hidden name=id value=IQDr5OHZ5T0><input type=hidden name=offerid value=189673><input type=hidden name=bnid value=989><input type=hidden name="subid"
        value="">
      <input type="hidden" name="S" value="R">
      <input type="hidden" name="quicksearch" value="yes">
      <table width="120" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" valign="bottom"><img src="http://images.alibris.com/marketing/txtbk_search_120_top.gif" alt="Save up to 90% on textbooks at Alibris!" width="120" height="229"></td>
        </tr>
        <tr align="center">
          <td height="28" valign="middle" background="http://images.alibris.com/marketing/txtbk_search_120_mid.gif"><select name="searchtype" size="1">
              <option value="ISBN" selected>ISBN (best)</option>
              <option value="Author">Author</option>
              <option value="Title">Title</option>
            </select>
            <br>
            <input type="text" name="searchquery" size="10">


            <input name="imageField" value="submit" type="image" src="http://images.alibris.com/marketing/go_659ace_bg.gif" alt="Click to save up to 90% on textbooks at Alibris!" align="bottom" width="32" height="21">
          </td>
        </tr>
        <tr>
          <td height="30" align="center" valign="top" bgcolor="#659ace"><img src="http://images.alibris.com/marketing/txtbk_search_120_bottom.gif" alt="You'll find it at Alibris! Over 50 million used, new, and out-of-print books!" width="120" height="147"></td>
        </tr>
      </table>
      <input type="hidden" name="pid" value="">
      <input type="hidden" name="url" value="http://www.alibris.com/search/search.cfm">
      <input type="hidden" name="aid" value="">
    </form><img width="1" height="1" border="0" alt="" src="https://ad.linksynergy.com/fs-bin/show?id=IQDr5OHZ5T0&bids=189673&type=5">

  </aside>

  <div style="float: clear;"></div>
</section>