<!--a list of websites i coded-->
<style>
    dt {
        background-color: rgba(139,128,128,.1);
        font-weight: bold;
        font-size: 1.25em;
        border: 1px solid black;
        border-bottom: none;
        width: 100%;
    }
    dd {
        background-color: #ffffff;
        margin-top: 5px;
        margin-bottom: 50px;
        margin-left: 10%;
        padding: 2px;
        display: block;
        width: 80%;
        font-size: .85em;
        border: 1px solid black;
        border-top: none;
    }
    .content header, aside {
        background-color: #ffffff;
        border-radius: 0 50%;
        padding: 5%;
    }
    .content h1, .content h2, .content p {
        text-align: center;
    }

    aside {
        margin-top: 30%;
        text-align: center;
    }
    aside a {

        font-size: 2em;
        font-weight: bold;
        border-radius: 90%;
        padding: 10%;
    }
    aside img {
        height: 150px;
        width: 150px;
    }
    ul, li {
        list-style: none;
    }
</style>

<section>
	<!--also uses page websites-i-coded.php-->

	<div class="content" >

		<h1>Websites I</h1>
		<h2>Coded using HTML, CSS, JavaScript, PHP, MySQL and Filemaker</h2>

		<dl>
			<dt>
				<a href="http://www.ajaxtransport.com/">Ajax Transport</a>
			</dt>
			<dd>
				All code is original. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.davidpetringa.com/">David Petringa</a>
			</dt>
			<dd>
				All code is original. Playing around with PHP and MySQL. The dark side of CSS.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.dukesnuz.com/">DukesNuz</a>
			</dt>
			<dd>
				All code is original. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.thecentraldispatch.com/">The Central Dispatch</a>
			</dt>
			<dd>
				All code is original. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.ajaxforums.com/">Ajax Forums</a>
			</dt>
			<dd>
				I used a starter templete from a book by: <a href="http://www.larryullman.com/">Larry Ullman<a/>. 
				I then added to this. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.ajaxmarket.com/">Ajax Market</a>
			</dt>
			<dd>
				I used a starter templete from a book by: <a href="http://www.larryullman.com/">Larry Ullman<a/>. 
				I then added to this. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.loadedandrolling.co/">Loaded and Rolling</a>
			</dt>
			<dd>
				All orignal code. I then added to this. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.scrapinventory.net/">Scrapinventory</a>
			</dt>
			<dd>
				I used a starter templete from a book by: <a href="http://www.larryullman.com/">Larry Ullman<a/>. I then added to this. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="<?php echo URL;?>/self-study-courses/courses-menu/dukesnuz-david-petringa/">Course Menu</a></a>
			</dt>
			<dd>
				The home pages for the cousres I participated in are original code by me.
			</dd>
		</dl>

		<aside>
			<ul>
				<li>
					<a href="https://github.com/dukesnuz/" target="blank"><img src="<?php echo URL;?>/d/images/Octocat.jpg" alt="GitHuub"></a>.
				</li>
			</ul>

		</aside>

	</div>
</section>