<!--a list of websites i coded-->
<style>
	dt {
		background-color: rgba(139,128,128,.1);
		font-weight: bold;
		font-size: 1.25em;
		border: 1px solid black;
		border-bottom: none;
		width: 100%;
	}
	dd {
		background-color: #ffffff;
		margin-top: 5px;
		margin-bottom: 50px;
		margin-left: 10%;
		padding: 2px;
		display: block;
		width: 80%;
		font-size: .85em;
		border: 1px solid black;
		border-top: none;
	}
	.content header, aside {
		background-color: #ffffff;
		border-radius: 0 50%;
		padding: 5%;
	}
	.content h1, .content h2, .content p {
		text-align: center;
	}

	aside {
		margin-top: 30%;
		text-align: center;
	}
	aside a {

		font-size: 2em;
		font-weight: bold;
		border-radius: 90%;
		padding: 10%;
	}
	aside img {
		height: 150px;
		width: 150px;
	}
	ul, li {
		list-style: none;
	}
</style>

<section>
	<!--also uses page websites-i-coded.php-->

	<div class="content" >

		<h1>I Had Great Fun Coding These Websites</h1>

		<dl>
			<dt>
				<a href="http://david.dukesnuz.com" target="_blank">David's Laravel App</a>
			</dt>
			<dd>
				This site is coded with Laravel and Vue.js frameworks
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.davidpetringa.com" target="_blank">David - Just another site</a>
			</dt>
			<dd>
				This site is coded using the Vue.js framework.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.dukesnuz.com" target="_blank">DukesNuz</a>
			</dt>
			<dd>
				All code is original. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.ajaxtransport.com" target="_blank">Ajax Transport</a>
			</dt>
			<dd>
				All code is original. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://admin.ajaxtransport.com" target="_blank">Ajax Transport</a>
			</dt>
			<dd>
				An app I coded using Laravel.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://ajaxtransportation.com/" target="_blank">Ajax Transportation</a>
			</dt>
			<dd>
				A landing page website coded with HTML and CSS. No fancy frameworks
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.bookloadsonline.co/" target="_blank">Book Loads Online</a>
			</dt>
			<dd>
				Anotherlanding page website coded with HTML and CSS. No fancy frameworks
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://freightbrokerage.co/" target="_blank">Freight Brokerage</a>
			</dt>
			<dd>
				One more landing page website coded with HTML and CSS. No fancy frameworks
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://drones.dukesnuz.com" target="_blank">Drone Blog</a>
			</dt>
			<dd>
				A blog coded with wordpress
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://robots.dukesnuz.com" target="_blank">Robots Blog</a>
			</dt>
			<dd>
				A blog coded with wordpress
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.popsfoodcreations.com" target="_blank">Pop's Food Creations</a>
			</dt>
			<dd>
				A website for Pop coded with wordpress
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://blogposts.dukesnuz.com" target="_blank">A Simple Blog</a>
			</dt>
			<dd>
				All code is original. Playing around with PHP and MySQL. The dark side of CSS.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.thecentraldispatch.com" target="_blank">The Central Dispatch</a>
			</dt>
			<dd>
				All code is original. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://forum.ajaxtransport.com" target="_blank">Ajax Forums</a>
			</dt>
			<dd>
				I used a starter templete from a book by: <a href="http://www.larryullman.com/">Larry Ullman<a/>.
				I then added to this. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://ajaxmarket.dukesnuz.com" target="_blank">Ajax Market</a>
			</dt>
			<dd>
				A functional e-commerce website. I used a starter templete from a book by: <a href="http://www.larryullman.com/">Larry Ullman<a/>.
				I then added to this. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://loadedandrolling.loadedandrolling.com" target="_blank">Loaded and Rolling</a>
			</dt>
			<dd>
				All orignal code. I then added to this. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://www.loadedandrolling.com" target="_blank">Loaded and Rolling</a>
			</dt>
			<dd>
				All orignal code. PHP lanuage is used for the back end with a MySQL database.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://scrapinventory.dukesnuz.com" target="_blank">Scrapinventory</a>
			</dt>
			<dd>
				I used a starter templete from a book by: <a href="http://www.larryullman.com/">Larry Ullman<a/>. I then added to this. This site utilizes MySQL. PHP lanuage is used for the back end.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://ajaxlofts.dukesnuz.com" target="_blank">Ajax Lofts</a>
			</dt>
			<dd>
				A website I developed to advertise the sale of a property.
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="http://csscoffeebreak.dukesnuz.com" target="_blank">CSS Coffee Break</a>
			</dt>
			<dd>
				A page i created to display excercises from the book, CSS The Missing Manual
			</dd>
		</dl>

		<dl>
			<dt>
				<a href="<?php echo URL;?>/self-study-courses/courses-menu/dukesnuz-david-petringa/">Course Menu</a></a>
			</dt>
			<dd>
				The home pages for the cousres I participated in are original code by me.
			</dd>
		</dl>

		<aside>
			<ul>
				<li>
					<a href="/catagory/blog/coded-by-david-petringa-html-css-javascript-php-mysql-filemaker/" target="_blank">Recent Pages I Coded</a>.
				</li>
			</ul>

		</aside>

		<aside>
			<ul>
				<li>
					<a href="https://github.com/dukesnuz/" target="blank"><img src="<?php echo URL;?>/d/images/Octocat.jpg" alt="GitHuub"></a>.
				</li>
			</ul>

		</aside>

	</div>
</section>