<div align="center"><img src="./images/checkout_indicator3.png" /></div>
<br clear="all" />

<?php

// final.html
 
echo BOX_BEGIN;
?>

<h2>Your order is complete</h2>
<p>Thank you for your order (#<?php echo $_SESSION['order_id']; ?>).
	Please use this order number in any correspondence with us.</p>
	 
<p>A charge of $<?php echo number_format($_SESSION['order_total'] /100, 2); ?> will
	appear on your credit card when the order ships.  All orders are processed on the next busines day.
	You will be contacted in case of any delays.</p>
	
<p>An email conformation has been sent to your email address.
	<!--<a href="receipt.php">Click here </a>to create a printable receipt of your order.</p>-->
	<!--below line added in chp 13 p 426-->
	<!--sha1 is not working in mysqli so i am going to use custoer_id which will always be random-->
	<!--<a href="receipt.php?x=<?php echo $_SESSION['order_id'].'&y='.sha1($_SESSION['email']) ; ?>">
	Click Here</a>to create a printable receipt of your order.</p>-->
  <!--<a href="receipt.php?x=<?php echo $_SESSION['order_id'].'&y='.$_SESSION['y'] ; ?>">
	Click Here</a>to create a printable receipt of your order.</p>-->
    
    <a href="receipt.php?x=<?php echo $_SESSION['order_id'].'&y='.sha1($_SESSION['email'] ); ?>">
	Click Here</a>to create a printable receipt of your order.</p>
   
<?php echo BOX_END; ?>