<?php

// ...views/home.html

echo BOX_BEGIN;

echo '<div class="wrapper">';
	
	//check for sales
	if(mysqli_num_rows($r) > 0)
		{
			echo '<dl class="special fright">
				<dt><a href="'.MODWRITE.'/sales.php/">Sale Items!</a></dt>';
				//print each sale item
				while($row = mysqli_fetch_array($r, MYSQLI_ASSOC))
					{
	//cannot find error in below line
	//echo '<dd><a href="'.MODWRITE.'/sales.php/#'.$row['sku'].'"title="View This Product"><img alt="" src"'.MODWRITE.'/products/'.$row['image'].'" /><span>'.$row['sale_price'].'</span></a></dd>';
			
    echo '<dd><a href="'.MODWRITE.'/sales.php/#' . $row['sku'] . '" 
    	title="View This Product"><img alt="" src="'.MODWRITE.'/products/' . 
    	$row['image'] . '" /><span>' . $row["sale_price"]  . '</span></a></dd>';
     //$row["sale_price"]   .number_format("888","2", ".") 
					}
			echo '</dl>';
		}//End of mysqli_num_rows() IF
		
		
	
		
		echo '<h2>Chapter 15 Exercises</h2>';
		
		echo '<ul>';
		 	echo '<li>Using Stripe</li>';
		echo '</ul>
		
		
			</div>';//where is beining div?
			
			echo BOX_END;
			
			echo BOX_BEGIN;
			
			echo '<h3>About Clever Coffee, Inc.</h3>
			<p>Clever Coffee, Inc. has been selling coffee online since 1923.  For years, Clever Coffee, Inc
				failed to make a profit, due to the lack of computers and the Interent. Yadda, yadda, yadda</p>
				
			<p>It \'s safe to shop here, promise!</p>';
			
			echo BOX_END;
			
			
	